.aboutPage {
    position: relative;
    padding: 0 45px;
    padding-top: 250px;
    color: #fff;
    margin-bottom: 137px;
}

.pageTitle {
    font-size: 70px;
    font-weight: 600;
}

.quotes {
    position: relative;
    margin-top: 120px;
    font-size: 40px;
    z-index: 50;
}

.qH {
    font-weight: 600;
}

.sq {
    margin-left: 165px;
    margin-top: 43px;
}

.tq {
    margin-left: 285px;
    margin-top: 80px;
}

.fq {
    position: relative;
    margin-left: 544px;
    margin-top: 50px;
    max-width: 1100px;
}

.values {
    margin-top: 300px;
    position: relative;
    z-index: 50;
}

.valuesTitle {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
}

.valuesContent {
    padding-top: 75px;
    position: relative;

}

.circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 630px;
    height: 630px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.valueItem {
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 26px;
    border-radius: 20px;
    padding: 8px 12px;
    width: fit-content;
    box-shadow: rgba(255, 255, 255, 0.25) 0 0 0, rgba(255, 255, 255, 0.12) 0px 0px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0 0 0, rgba(255, 255, 255, 0.09) 0px -3px 5px;

}

.vcWrapper {
    width: 630px;
    height: 630px;
}

.fi {
    margin-top: 117px;
    margin-left: calc(50% - 315px + 466px);
}

.si {
    margin-top: 28px;
    margin-left: calc(50% - 315px - 215px);
}

.ti {
    margin-top: 112px;
    margin-left: calc(50% - 315px + 338px);
    padding: 8px 80px;
}

.foi {
    margin-top: 117px;
    margin-left: calc(50% - 315px - 116px);
    padding: 8px 30px;
}

.fai {
    margin-top: 7px;
    margin-left: calc(50% - 315px + 384px);
}

.timeline {
    width: 100%;
    margin-top: 448px;
}

.topLine {
    height: 5px;
    width: 60px;
    background-color: white;
    margin-left: calc(50% - 27px);
}

.date {
    width: fit-content;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 40px;
    font-weight: 600;
    background-color: #6D57B1;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.tblock {
    width: calc(50%);
}

.fbdate,
.fbText {
    margin-left: 40px;
}

.fbl {
    position: relative;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    display: flex;
    flex-direction: column;
    row-gap: 124px;
    padding-bottom: 89px;
}

.tblockText {
    font-size: 40px;
}

.fblB {
    border-left: 5px solid #ffff;
    position: absolute;
    top: calc(100% - 60px);
    bottom: 0;
}

.sbl {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 112px;
    margin-top: -10px;
    margin-right: -4.8px;
    float: right;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
}

.sbdate,
.sbtext {
    margin-left: 50px;
}

.sbtext {
    margin-bottom: 80px;
}

.sblB {
    border-left: 5px solid #ffff;
    position: absolute;
    top: calc(100% - 60px);
    bottom: 0;
    right: 0;
}

.tbl {
    position: relative;
    margin-top: -30px;
    display: flex;
    row-gap: 167px;
    flex-direction: column;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding-bottom: 100px;
}

.tbdate {
}

.tbdate,
.tbtext {
    margin-left: 40px;
}

.tblB {
    border-left: 5px solid #ffff;
    position: absolute;
    left: 0;
    top: calc(100% - 60px);
    bottom: 0;
}

.fobl {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    position: relative;
    margin-right: -4.8px;
    float: right;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding-bottom: 40px;
}

.fobdate,
.fobtext {
    margin-left: 50px;
}

.fibl {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
    padding-bottom: 60px;
}

.fibdate,
.fibText {
    margin-left: 40px;
}

.sibl {
    float: right;
    margin-right: -4.8px;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: relative;
    row-gap: 116px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

.sibdate,
.sibtext {
    margin-left: 40px;
}

.sevbl {
    border-left: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 400px;
    border-right: 5px solid #fff;
}

.persons {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 170px;
}

.person {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 120px;
}

.personImage {
    position: relative;
}

.pimg {
    position: relative;
    z-index: 3;
    width: 550px;
    height: 550px;
    border-radius: 100%;
    border: 15px solid #6d57b0;
}

.personText::before,
.personText::after {
    content: "\201c";
    font-size: 200px;
    position: absolute;
    background-size: cover;
}

.personText::before {
    top: -10px;
    left: 20px;
    width: 50px;
    height: 50px;
}

.personText::after {
    bottom: -100px;
    right: 60px;
    width: 50px;
    height: 50px;
}

.pName {
    margin-top: 16px;
    font-size: 45px;
    font-weight: 600;
}

.pRole {
    font-size: 40px;
    font-weight: 600;
}

.personText {
    padding: 20px;
    position: relative;
    font-size: 30px;
    line-height: 42px;
}

.piT {
    position: relative;
    z-index: 3;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.siT {
    position: relative;
    z-index: 3;
    margin-top: 12px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
}

.personTextSecond {
    margin-left: 50px;
}

.bloom1 {
    top: -50px;
    position: absolute;
    left: 300px;
    z-index: -1;
}

.bloom2 {
    position: absolute;
    top: 50px;
    z-index: -1;
    left: -45px;
}

.bloom3 {
    position: absolute;
    right: -45px;
    z-index: -1;
    top: -350px;
}

.bloom4 {
    position: absolute;
    left: -45px;
    z-index: -1;
    top: -200px;
}

.bloom4 img {

}

.bloom5 {
    position: absolute;
    top: -200px;
    z-index: -1;
}


.fobbl {
    width: 395px;
    height: 395px;
    right: -45px;
}
.bubble {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(-180deg, rgba(158, 141, 223, 70%) 0%, rgba(181, 167, 236, 70%) 14%, rgba(115, 40, 234, 70%) 58%, rgba(79, 153, 222, 70%) 100%);
    box-shadow: inset 30.264217376708984px -30.264217376708984px 30.264217376708984px 0px rgba(165, 165, 165, 7%), inset -30.264217376708984px 30.264217376708984px 30.264217376708984px 0px rgba(255, 255, 255, 7%);
}

.fbbl {
    width: 231px;
    height: 231px;
    top: 50px;
    left: -366px;
    z-index: 2;
}

.sbbl {
    width: 268px;
    height: 268px;
    right: 50px;
    z-index: 2;
}

.tbbl {
    top: -95px;
    left: -168px;
    width: 395px;
    height: 395px;
    position: absolute;
    z-index: 2;
}

.bloom1,
.bloom2,
.bloom3,
.bloom4,
.bloom5 {
    user-select: none;
    -webkit-user-select: none;  /* Для поддержки веб-кит браузеров */
    -moz-user-select: none;     /* Для поддержки Firefox */
    -ms-user-select: none;
}

@media (max-width: 1600px) {
    .pageTitle {
        font-size: 45px;
    }

    .quotes {
        font-size: 30px;
    }

    .fbbl {
        left: -700px;
    }

    .sbbl {
        right: -200px;
    }

    .valuesTitle {
        font-size: 45px;
    }

    .circle {
        width: 500px;
        height: 500px;
    }

    .valueItem {
        position: relative;
        z-index: 5;
        font-size: 30px;
    }

    .fi {
        margin-top: 67px;
        margin-left: calc(50% - 315px + 390px);
    }

    .si {
        margin-top: 0;
        margin-left: calc(50% - 315px - 215px);
    }

    .ti {
        margin-top: 112px;
        margin-left: calc(50% - 315px + 480px);
        padding: 8px 20px;
    }

    .foi {
        margin-top: -15px;
        margin-left: calc(50% - 315px - 116px);
        padding: 8px 30px;
    }

    .fai {
        margin-top: 76px;
        margin-left: calc(50% - 315px + 140px);
    }

    .date {
        text-shadow: none;
        font-size: 48px;
    }

    .tblockText {
        font-size: 38px;
    }

    .fbl {
        row-gap: 35px;
        padding-bottom: 35px;
    }

    .sbl {
        row-gap: 55px;
    }

    .sbtext {
        margin-bottom: 35px;
    }

    .tbl {
        row-gap: 97px;
        padding-bottom: 35px;
    }

    .fobl {
        row-gap: 58px;
        padding-bottom: 35px;
    }

    .fibl {
        row-gap: 67px;
        padding-bottom: 20px;
    }

    .sibl {
        row-gap: 81px;
        padding-bottom: 35px;
    }

    .piT {
        margin-top: -75px;
    }
}

@media (max-width: 769px) {
    .aboutPage {
        padding-top: 100px;
        padding-bottom: 100px;
        overflow: hidden;
    }

    .pageTitle {
        font-size: 50px;
        text-align: center;
    }

    .quotes {

        font-size: 30px;
        line-height: 36px;
    }

    .fbbl {
        left: -200px;
    }

    .sq,
    .tq,
    .fq {
        margin-left: 0;
    }

    .valuesTitle {
        font-size: 50px;
    }

    .circle {
        width: 400px;
        height: 400px;
    }

    .valueItem {
        font-size: 20px;
        text-align: center;
        padding: 12px 20px;
    }

    .fi {
        width: 350px;
        margin-left: calc(50% - 315px + 220px);
    }

    .si {
        margin-top: 27px;
        margin-left: calc(50% - 315px - 30px);
    }

    .ti {
        margin-top: 18px;
        margin-left: calc(50% - 315px + 450px);
    }

    .foi {
        margin-top: 0;
        margin-left: calc(50% - 315px - 10px);
    }

    .fai {
        margin-top: 31px;
        margin-left: calc(50% - 315px + 190px);
    }

    .date {
        border-radius: 10px;
        text-align: center;
        width: 223px;
        padding: 12px 0;
        font-size: 25px;
    }

    .tblockText {
        font-size: 20px;
    }

    .fibl {
        margin-top: 50px;
    }

    .sevbl {
        height: 150px;
    }

    .person {
        column-gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .piT {
        margin-top: 0;
        order: 1;
        margin-bottom: 90px;
    }

    .siT {
        margin-bottom: 90px;
    }

    .pimg {
        width: 376px;
        height: 376px;
        order: 0;
    }

    .personText {
        font-size: 20px;
        order: 2;
    }

    .bloom4 {
        left: -300px;
    }
}


@media (max-width: 600px) {
    .aboutPage {
        padding: 0 15px;
        padding-bottom: 100px;
    }
    .pageTitle {
        font-size: 45px;
        text-align: center;
    }

    .quotes {

        font-size: 24px;
        line-height: 30px;
    }

    .fbbl {
        left: -200px;
    }

    .sq,
    .tq,
    .fq {
        margin-left: 0;
    }

    .valuesTitle {
        font-size: 45px;
    }

    .circle {
        width: 300px;
        height: 300px;
    }

    .valueItem {
        font-size: 18px;
        text-align: center;
        padding: 10px 26px;
    }

    .fi {
        width: 300px;
        margin-top: 15px;
        margin-left: calc(50% - 315px + 170px);
    }

    .si {
        margin-top: 27px;
        margin-left: calc(50% - 315px + 100px);
    }

    .ti {
        margin-top: 18px;
        margin-left: calc(50% - 315px + 350px);
    }

    .foi {
        margin-top: 0;
        margin-left: calc(50% - 315px + 120px);
    }

    .fai {
        width: 375px;
        padding: 8px 8px;
        margin-top: 50px;
        margin-left: calc(50% - 315px + 120px);
    }

    .date {
        border-radius: 10px;
        text-align: center;
        width: 180px;
        padding: 10px 0;
        font-size: 20px;
    }

    .tblockText {
        font-size: 20px;
    }

    .fibl {
        margin-top: 50px;
    }

    .sevbl {
        height: 150px;
    }

    .person {
        column-gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .piT {
        margin-top: 0;
        order: 1;
        margin-bottom: 90px;
        text-align: center;
    }

    .siT {
        margin-bottom: 90px;
        text-align: center;
    }

    .personText {
        font-size: 16px;
        order: 2;
    }

    .personTextSecond {
        margin-left: 0;
    }
}


@media (max-width: 480px) {
    .valueItem {
        font-size: 16px;
        text-align: center;
        padding: 8px 20px;
    }

    .fi {
        width: 280px;
        margin-top: 15px;
        margin-left: calc(50% - 315px + 170px);
    }

    .si {
        margin-top: 27px;
        margin-left: calc(50% - 315px + 120px);
    }

    .ti {
        margin-top: 18px;
        margin-left: calc(50% - 315px + 350px);
    }

    .foi {
        margin-top: 0;
        margin-left: calc(50% - 315px + 140px);
    }

    .fai {
        width: 350px;
        padding: 8px 8px;
        margin-top: 50px;
        margin-left: calc(50% - 315px + 140px);
    }

    .date {
        border-radius: 10px;
        text-align: center;
        width: 160px;
        padding: 8px 0;
        font-size: 18px;
    }

    .tblockText {
        font-size: 14px;
    }

    .fbdate {
        margin-top: 5px;
        margin-left: 10px;
    }
    .tbdate {
        margin-left: 10px;
    }
    .fibdate {
        margin-left: 10px;
    }
    .sbdate,
    .fobdate,
    .sibdate {
        margin-left: 10px;
    }

    .fbl {
        row-gap: 25px;
    }

    .sbl {
        row-gap: 20px;
    }

    .tbl,
    .fobl,
    .fibl,
    .sibl {
        row-gap: 20px;
    }

    .fbText,
    .sbtext,
    .tbtext,
    .fobtext,
    .fibText {
        margin-left: 15px;
    }

    .sibtext {
        margin-left: 20px;
        margin-right: 5px;
    }
}


