.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.headerWrapper {
    padding: 0 25px;
    max-width: 100%;
    height: 49px;
    background-color: transparent;
    color: #212121;
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;
    column-gap: 15px;
    padding-top: 11px;
}

.menuButton {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    outline: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.menuButtonImg {
    width: 120px;
    height: 11px;
}

.menuOptions {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-top: 12px;
}

.menuContainer {
    max-width: 100%;
}

.menuOptionsButton {
    background-color: #2D2A2F;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #fff;
    outline: 0;
    height: 44px;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.logo {
    border: 0;
    outline: none;
    background-color: #6D57B1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}


.logo,
.menuButton,
.menuOptionsButton {
    cursor: pointer;
}

.menuButton:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.invOpt {
    display: none;
    background: #fff;
    color: #000;
    border: 2px solid #6D57B1;
}

@media (max-width: 769px) {
    .headerWrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menuButton {
        font-size: 20px;
    }

    .menuOptionsButton {
        font-size: 20px;
        min-height: 44px;
        height: auto;
    }
}

@media (max-width: 550px) {
    .headerWrapper {
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
    }

    .menuButton {
        font-size: 12px;
    }

    .menuOptionsButton {
        font-size: 12px;
        min-height: 44px;
        height: auto;
    }

    .menuButton {
        padding: 0;
        border-radius: 10px;
    }

    .logo {
        border-radius: 10px;
    }

    .investBtn {
        display: none;
    }

    .invOpt {
        display: block;
    }
}